footer {
	width: 100%;
	border-top: 1px solid #bbb;
	.inner {
		width: 1180px;
		margin: 0px auto;
		position: relative;
		padding: 50px;
		h1 {
			font: 30px/1.2 'Playfair Display SC';
			color: #999;
			text-align: left;
			letter-spacing: 2px;
		}
		p {
			font: 12px/1.2 'Playfair Display SC';
			color: #999;
			text-align: left;
			letter-spacing: 2px;
		}
		address {
			font: 12px/1.2 'Playfair Display SC';
			color: #999;
			text-align: left;
			letter-spacing: 2px;
		}
		a {
            margin-right: 20px;
			font: 18px/1.2 'Playfair Display SC';
			color: #999;
			text-align: left;
			letter-spacing: 2px;
		}
	}
}

@media screen and (max-width: 1179px) {
	footer {
		.inner {
			width: 100%;
		}
	}
}
