.content {
	figure {
		width: 100%;
		height: 300px;
		background: #bbb;
		opacity: 0;
		transition: 1s;
	}

	> .inner {
		width: 1180px;
		min-height: 400px;
		margin: 100px auto;
		position: relative;
		opacity: 0;
		transform: translateY(100px);
		transition: 1s;

		h1 {
			font: normal 30px/1 'arial';
			color: #777;
			margin-bottom: 50px;
		}
	}

	&.on {
		figure {
			opacity: 1;
		}
		> .inner {
			opacity: 1;
			transform: translateY(0px);
		}
	}
}

//tablet
@media screen and (max-width: 1179px) {
	.content {
		figure {
			height: 200px;
		}

		> .inner {
			width: 100%;
			margin: 80px auto;
			padding: 0px 30px;
		}
	}
}

//m.p
@media screen and (max-width: 649px) {
	.content {
		figure {
			height: 150px;
		}
	}
}
