#As {
	width: 100%;
	height: 100vh;
	padding: 5vw;

	h1 {
		font: bold 80px/1 'Playfair Display SC';
		text-align: center;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.asBox{
		width: 100%;
		height: 80%;
		display: flex;
		.box1{
			width: 50%;
			height: 100%;
			img{
				width:100%;
				height: 100%;
				padding: 50px;
			}
		}
		.box2{
			width: 50%;
			height: 100%;
			padding: 50px;

			h2{
				font: bold 35px/1 'Playfair Display SC';
				margin-bottom: 30px;
			}
			p{
				font: bold 25px/1 'Arapey';
			}
			a{
				display: flex;
				justify-content: center;
				align-items: center;
				width: 200px;
				height: 40px;
				margin: 0 auto;
				background: #000;
				font: bold 25px/1 'Arapey';
				color: #fff;
				position: relative;
				top: 100px;
				transition: 1s;
				&:hover{
					transform: scale(1.2);
				}
			}
		}
	}
}



