#As {
	width: 100%;
	height: 100vh;
	padding: 5vw;
	color: #000;
	text-shadow: 2px 2px 7px rgb(255, 255, 255);
	border: 1px solid #000;
	h1 {
		font: bold 80px/1 'Playfair Display SC';
		text-align: center;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.asBox{
		width: 100%;
		height: 80%;
		display: flex;
		.box1{
			width: 50%;
			height: 100%;
			img{
				width:100%;
				height: 100%;
				padding: 50px;
			}
		}
		.box2{
			width: 50%;
			height: 100%;
			padding: 50px;

			h2{
				font: bold 35px/1 'Playfair Display SC';
				margin-bottom: 30px;
			}
			p{
				font: bold 25px/1 'Arapey';		
			}
			a{
				display: flex;
				justify-content: center;
				align-items: center;
				width: 200px;
				height: 40px;
				margin: 0 auto;
				font: bold 25px/1 'Arapey';
				color: #fff;
				background: #000;
				box-shadow: 12px 12px 2px 1px #ddd;
				position: relative;
				top: 100px;
				transition: 1s;
				&:hover{
					transform: scale(1.2);
				}
			}
		}
	}
}





@media screen and (max-width: 768px) {
	#As {
	h1 {
		font: bold 65px/1 'Playfair Display SC';
	}
	.asBox{

		.box1{
		}
		.box2{
			width: 50%;
			height: 100%;
			padding: 20px;

			h2{
				font: bold 35px/1 'Playfair Display SC';
				margin-bottom: 30px;
			}
			p{
				font: bold 25px/1 'Arapey';		
			}
			a{
				display: flex;
				justify-content: center;
				align-items: center;
				width: 200px;
				height: 40px;
				margin: 0 auto;
				font: bold 25px/1 'Arapey';
				color: #fff;
				background: #000;
				box-shadow: 12px 12px 2px 1px #ddd;
				position: relative;
				top: 100px;
				transition: 1s;
				&:hover{
					transform: scale(1.2);
				}
			}
		}
	}
}
}
@media screen and (max-width: 425px) {
	#As {

		h1 {
			font: bold 45px/1 'Playfair Display SC';
		}
		.asBox{

			.box1{
				display: none;
			}
			.box2{
				width: 100%;
				height: 100%;
				padding: 50px;
	
				h2{
					font: bold 35px/1 'Playfair Display SC';
					margin-bottom: 30px;
				}
				p{
					font: bold 25px/1 'Arapey';		
				}
				a{
					display: flex;
					justify-content: center;
					align-items: center;
					width: 200px;
					height: 40px;
					margin: 0 auto;
					font: bold 25px/1 'Arapey';
					color: #fff;
					background: #000;
					box-shadow: 12px 12px 2px 1px #ddd;
					position: relative;
					top: 100px;
					transition: 1s;
					&:hover{
						transform: scale(1.2);
					}
				}
			}
		}
	}
}
@media screen and (max-width: 375px) {}