.scroll_navi {
	position: fixed;
	top: 50%;
	right: 50px;
	transform: translateY(-50%);
	z-index: 2;

	li {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background: #fff;
		border: 1px solid #777;
		margin-bottom: 20px;
		cursor: pointer;
		transition: 0.5s;

		&.on {
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background: rgb(255, 196, 0);
		}
	}
}



@media screen and (max-width: 1179px) {
	.scroll_navi {
		display: none;
	}
}