#news {
	width: 100%;
	height: 100vh;
	padding: 50px;
	h1 {
		font: bold 80px/1 'Playfair Display SC';
		text-align: center;
		.underline {
			text-decoration: underline;
		}
	}
	#newsBox {
		width: 100%;
		height: 100%;
		padding: 25px;
		&::after {
			content: '';
			display: block;
			clear: both;
		}
		article {
			width: 33.33%;
			height: 50%;
			padding: 50px;
			float: left;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: 1s;
				&:hover{
					transform: scale(1.2);
				}
			}
			h2 {
				font: bold 40px/1 'Arapey';
				margin-bottom: 20px;
			}
			span{
				font: 20px/1 'Arapey';
			}
		}
		.textBox1 {
			width: 60%;
			height: 40%;
			h2 {
				font: bold 40px/1 'Playfair Display SC';
				margin-bottom: 20px;
			}
			span {
				font: 25px/1 'Arapey';
			}
			img {
				width: 600px;
				height: 100%;
				object-fit: cover;
			}
		}
		.textBox2 {
			width: 40%;
			height: 40%;
			a {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;
				font: bold 50px/1 'Playfair Display SC';
				color: #000;
				transition: 1s;
				border: 1px solid #000;
				&:hover{
					text-decoration: underline;
					transform: scale(1.1);
				}
			}
		}
	}
}
