#news {
	width: 100%;
	height: 100vh;
	padding: 50px;
	background: rgb(254, 255, 226);
	h1 {
		font: bold 80px/1 'Playfair Display SC';
		color: rgb(253, 255, 203);
		text-shadow: 2px 2px 5px rgb(0, 88, 62);
		text-align: center;
		.underline {
			text-decoration: underline;
		}
	}
	#newsBox {
		width: 100%;
		height: 100%;
		padding: 25px;
		&::after {
			content: '';
			display: block;
			clear: both;
		}
		article {
			width: 33.33%;
			height: 50%;
			padding: 50px;
			float: left;
			img{
				width: 100%;
				height: 100%;
				object-fit: contain;
				transition: 1s;
				&:hover{
					transform: scale(1.2);
				}
			}
			h2 {
				font: bold 40px/1 'Arapey';
				color: rgb(253, 255, 203);
				text-shadow: 2px 2px 5px rgb(0, 88, 62);
				margin-bottom: 20px;
			}
			span{
				font: 20px/1 'Arapey';
				color: rgb(253, 255, 203);
				text-shadow: 2px 2px 5px rgb(0, 88, 62);
			}
		}
		.textBox1 {
			width: 60%;
			height: 40%;
			h2 {
				font: bold 40px/1 'Playfair Display SC';
				color: rgb(253, 255, 203);
				text-shadow: 2px 2px 5px rgb(0, 88, 62);
				margin-bottom: 20px;
			}
			span {
				font: 25px/1 'Arapey';
			}
			img {
				width: 600px;
				height: 100%;
				object-fit: cover;
			}
		}
		.textBox2 {
			width: 40%;
			height: 40%;
			a {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;
				font: bold 50px/1 'Playfair Display SC';
				color: rgb(78, 119, 107);
				background: rgb(246, 255, 204);
				box-shadow: 12px 12px 2px 1px rgba(165, 197, 106, 0.726);
				transition: 1s;

				&:hover{
					text-decoration: underline;
					transform: scale(1.1);
				}
			}
		}
	}
}
