#vids {
	width: 100%;
	height: 100vh;
	padding: 5vw;
	.youtubeBox {
		ul {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			cursor: pointer;
			li {
				transition: 1s;
				margin-right: 50px;
				margin-bottom: 50px;
				&:hover {
					transform: scale(1.2);
				}
			}
		}
	}
	.accessoriesBox {
		width: 100%;
		.accTitle {
			font: 100px/1 'heebo';
			color: #fff;
			background: #000;
			margin-bottom: 50px;
		}
		.accText {
			font: 30px/1 'heebo';
			color: #000;
			margin-bottom: 50px;
		}
	}
	a {
		display: block;
		width: 200px;
		height: 30px;
		text-align: center;
		font: 20px/1.5 'heebo';
		color: #fff;
		background: #000;
		transition: 0.5s;
		&:hover {
			transform: scale(1.1);
			transform: translateX(50px);
		}
	}
}
