#vids {
	width: 100%;
	height: 100vh;
	padding: 3vw;
	color: #000;
	h1 {
		text-align: center;
		font: bold 80px/1 'Playfair Display SC';

		margin-bottom: 30px;
	}
	.vidBox {
		width: 100%;
		height: 100%;
		display: flex;

		.box1 {
			width: 50%;
			height: 100%;

			.imgBox {
				width: 100%;
				height: 50%;
				img {
					width: 100%;
					height: 100%;
					padding: 20px;
					object-fit: contain;
				}
			}
			.accTextBox {
				padding: 10px;
				h2 {
					font: bold 40px/1 'Playfair Display SC';
					text-align: center;
				}
				a {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 400px;
					height: 80px;
					margin: 0 auto;
					margin-top: 70px;
					font: bold 50px/1 'Arapey';
					color: #fff;
					background: #000;
					box-shadow: 12px 12px 2px 1px #ddd;
					text-shadow: 2px 2px 7px #000;
					transition: 1s;
					&:hover {
						transform: scale(1.2);
					}
				}
			}
		}
		.box2 {
			width: 50%;
			height: 90%;
			display: flex;
			justify-content: space-between;

			ul {
				width: 100%;
				height: 100%;
				padding: 20px;
				&:hover li:nth-of-type(1) {
					transform: translateX(100%);
				}
				&:hover li:nth-of-type(2) {
					transform: translateX(-100%);
				}
				&:hover li:nth-of-type(3) {
					transform: translateX(100%);
				}
				&:hover li:nth-of-type(4) {
					transform: translateX(-100%);
				}
				li {
					width: 50%;
					height: 25%;
					transition: 1s;
					cursor: pointer;

					img {
						width: 100%;
						height: 100%;
					}
					&:nth-of-type(2) {
						position: relative;
						left: 50%;
					}
					&:nth-of-type(4) {
						position: relative;
						left: 50%;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	#vids {
		h1 {
			margin-bottom: 50px;
		}
		.vidBox {
			width: 100%;
			height: 100%;
			display: flex;
			flex-wrap: wrap;
			.box1 {
				.imgBox {
					img {
						padding: 0px;
					}
				}
				.accTextBox {
					h2 {
						font: bold 30px/1 'Playfair Display SC';
					}
					a {
						width: 250px;
						height: 40px;
						margin: 0 auto;
						margin-top: 70px;
						font: bold 30px/1 'Arapey';
					}
				}
			}
			.box2 {
				height: 80%;
				ul {
					&:hover li:nth-of-type(1) {
						transform: none;
					}
					&:hover li:nth-of-type(2) {
						transform: none;
					}
					&:hover li:nth-of-type(3) {
						transform: none;
					}
					&:hover li:nth-of-type(4) {
						transform: none;
					}
					li {
						width: 70%;
						margin: 0 auto;
						margin-bottom: 10px;
						&:nth-of-type(2) {
							position: relative;
							left: 0%;
						}
						&:nth-of-type(4) {
							position: relative;
							left: 0%;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	#vids {
		h1 {
			font-size: 60px;
		}
		.vidBox {
			.box1 {
				.accTextBox {
					h2 {
						font: bold 30px/1 'Playfair Display SC';
					}
					a {
						width: 250px;
						height: 40px;
						margin: 0 auto;
						margin-top: 70px;
						font: bold 30px/1 'Arapey';
					}
				}
			}
			.box2 {
				height: 80%;
				ul {
					&:hover li:nth-of-type(1) {
						transform: none;
					}
					&:hover li:nth-of-type(2) {
						transform: none;
					}
					&:hover li:nth-of-type(3) {
						transform: none;
					}
					&:hover li:nth-of-type(4) {
						transform: none;
					}
					li {
						width: 70%;
						margin: 0 auto;
						margin-bottom: 10px;
						&:nth-of-type(2) {
							position: relative;
							left: 0%;
						}
						&:nth-of-type(4) {
							position: relative;
							left: 0%;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 425px) {
	#vids {
		h1 {
			font: bold 40px/1 'Playfair Display SC';
		}

		.vidBox {
			.box1 {
				width: 100%;
				height: 50%;
				.imgBox {
					height: 200px;
					margin-bottom: 20px;
					img {
						padding: 0px;
					}
				}
				.accTextBox {
					h2 {
						font: bold 25px/1 'Playfair Display SC';
					}
					a {
						width: 150px;
						height: 30px;
						margin-top: 30px;
						font: bold 20px/1 'Arapey';
					}
				}
			}
			.box2 {
				width: 100%;
				height: 50%;

				ul {
					width: 100%;
					height: 100%;
					padding: 0px;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-wrap: wrap;
					li {
						width: 50%;
						height: 35%;
						transition: 1s;
						cursor: pointer;
						margin: 0px;
						img {
							width: 100%;
							height: 100%;
						}
						&:nth-of-type(2) {
							position: relative;
							left: 0%;
						}
						&:nth-of-type(4) {
							position: relative;
							left: 0%;
						}
					}
				}
			}
		}
	}
}
