#vids {
	width: 100%;
	height: 100vh;
	padding: 3vw;
	color: #000;
	text-shadow: 2px 2px 7px rgb(255, 255, 255);
	border: 1px solid #000;
	h1 {
		text-align: center;
		font: bold 80px/1 'Playfair Display SC';

		margin-bottom: 30px;
	}
	.vidBox {
		width: 100%;
		height: 100%;
		display: flex;

		.box1 {
			width: 50%;
			height: 100%;

			.imgBox {
				width: 100%;
				height: 50%;
				background: #ddd;
				img {
					width: 100%;
					height: 100%;
					padding: 20px;
					object-fit: contain;
				}
			}
			.accTextBox {
				padding: 10px;
				h2 {
					font: bold 40px/1 'Playfair Display SC';
					text-align: center;
				}
				a {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 400px;
					height: 80px;
					margin: 0 auto;
					margin-top: 70px;
					font: bold 50px/1 'Arapey';
					color: #fff;
					background: #000;
					box-shadow: 12px 12px 2px 1px #ddd;
					text-shadow: 2px 2px 7px #000;
					transition: 1s;
					&:hover {
						transform: scale(1.2);
					}
				}
			}
		}
		.box2 {
			width: 50%;
			height: 90%;
			display: flex;
			justify-content: space-between;

			ul {
				width: 100%;
				height: 100%;
				padding: 20px;
				&:hover li:nth-of-type(1) {
					transform: translateX(100%);
				}
				&:hover li:nth-of-type(2) {
					transform: translateX(-100%);
				}
				&:hover li:nth-of-type(3) {
					transform: translateX(100%);
				}
				&:hover li:nth-of-type(4) {
					transform: translateX(-100%);
				}
				li {
					width: 50%;
					height: 25%;
					transition: 1s;
					cursor: pointer;
					
					img {
						width: 100%;
						height: 100%;
					}
					&:nth-of-type(2) {
						position: relative;
						left: 50%;
					}
					&:nth-of-type(4) {
						position: relative;
						left: 50%;
					}
				}
			}
		}
	}
}




@media screen and (max-width: 768px) {
	#vids {
		padding: 2vw;
		border: none
		h1 {
			text-align: center;
			font: bold 65px/1 'Playfair Display SC';
	
			margin-bottom: 30px;
		}
		.vidBox {
			width: 100%;
			height: 100%;
			display: flex;
	
			.box1 {
				.accTextBox {
					padding: 10px;
					h2 {
						font: bold 30px/1 'Playfair Display SC';
					}
					a {
						width: 250px;
						font: bold 40px/1 'Arapey';
					}
				}
			}
			.box2 {
				width: 50%;
				height: 90%;
				display: flex;
				justify-content: space-between;
	
				ul {
					width: 100%;
					height: 100%;
					&:hover li:nth-of-type(1) {
						transform: translateX(0%);
					}
					&:hover li:nth-of-type(2) {
						transform: translateX(0%);
					}
					&:hover li:nth-of-type(3) {
						transform: translateX(0%);
					}
					&:hover li:nth-of-type(4) {
						transform: translateX(0%);
					}
					li {
						width: 100%;
						height: 20%;
						transition: 1s;
						cursor: pointer;
						
						img {
							width: 100%;
							height: 100%;
						}
						&:nth-of-type(2) {
							position: relative;
							left: 0%;
						}
						&:nth-of-type(4) {
							position: relative;
							left: 0%;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 425px) {
	#vids {

		h1 {
			font: bold 45px/1 'Playfair Display SC';
		}
		.vidBox {
			.box1 {
				.imgBox{
					display: none;
				}
				.accTextBox {
					padding: 5px;
					h2 {
						font: bold 30px/1 'Playfair Display SC';
						margin-top: 150px;
					}
					a {
						width: 150px;
						height: 40px;
						font: bold 20px/1 'Arapey';
					}
				}
			}
			.box2 {
				width: 50%;
				height: 90%;
				display: flex;
				justify-content: space-between;
	
				ul {
					width: 100%;
					height: 100%;
					li {

						img {
							width: 100%;
							height: 100%;
						}
						&:nth-of-type(2) {

						}
						&:nth-of-type(4) {

						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 375px) {}