figure {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
	h1 {
		position: absolute;
		z-index: 5;
	}
	.swiper {
		width: 100%;
		height: 100vh;
	}
	.swiper-slide {
		width: 100%;
		text-align: center;
		font-size: 18px;
		background: #fff;
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
		.pricepic {
			width: 100%;
			position: absolute;
			top: 40%;
			h1 {
				width: 100%;
				text-align: left;
				position: relative;
				bottom: 250px;
				right:8%;
				padding-left: 250px;
				padding-top: 20px;
				font: bold 90px/1 'heebo';
				color: #fff;
			}
			.price {
				width: 100%;
				text-align: left;
				position: relative;
				bottom:225px;
				left:6%;
				font: 35px/1 'heebo';
				color: #fff;
			}
			.carOption {
				text-align: left;
				width: 100%;
				position: relative;
				bottom: 200px;
				left: 120px;
				font: 25px/1.4 'heebo';
				color: #fff;
				span {
					margin-right: 20px;
				}
			}
		}

	}

	.swiper-slide img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.swiper-button-prev{
		display: none;
	}
	.swiper-button-next{
		display: none;
	}

}
