figure {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
	
	h1 {
		position: absolute;
		z-index: 5;
	}
	.swiper {
		width: 100%;
		height: 100vh;
	}
	.swiper-slide {
		width: 100%;
		text-align: center;
		font-size: 18px;
		background: #fff;
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
		.pricepic {
			width: 100%;
			position: absolute;
			top: 45%;
			h1 {
				text-align: left;
				position: relative;
				bottom: 240px;
				right: 130px;
				padding-left: 250px;
				margin-bottom: 20px ;
				font: 90px/1 'Playfair Display SC';
				color: #fff;
			}
			.price {
				text-align: left;
				width: 100%;
				position: relative;
				bottom: 250px;
				left: 120px;
				font: 45px/1.4 'Arapey';
				color: #fff;
			}
			.carOption {
				text-align: left;
				width: 100%;
				position: relative;
				bottom: 200px;
				left: 120px;
				font: 25px/1.4 'Arapey';
				color: #fff;
				span {
					margin-right: 20px;
				}
			}
		}
	}

	.swiper-slide img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.swiper-button-prev {
		display: none;
	}
	.swiper-button-next {
		display: none;
	}
}

@media screen and (max-width: 1024px) {
	figure {


		.swiper-slide {
			.pricepic {
				h1 {
					width: 100%;
					font:60px/1 'Playfair Display SC';
				}
				.price {
					font: 35px/1.4 'Arapey';
				}
				.carOption {
					font: 20px/1.4 'Arapey';
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	figure {


		.swiper-slide {
			.pricepic {
				h1 {
					width: 100%;
					font:45px/1 'Playfair Display SC';
					right: 220px;
				}
				.price {
					font: 35px/1.4 'Arapey';
					left: 40px;
				}
				.carOption {
					font: 20px/1.4 'Arapey';
					left: 40px;
				}
			}
		}
	}
}

@media screen and (max-width: 425px) {
	figure {
		.swiper-slide {
			.pricepic {
				h1 {
					width: 600px;
					font:28px/1 'Playfair Display SC';
					right: 230px;
				}
				.price {
					font: 20px/1.4 'Arapey';
					left: 30px;
				}
				.carOption {
					font: 20px/1.4 'Arapey';
					left: 30px;
				}
			}
		}
	}
}

