.Department {
	color: #000;

	.departmentBanner {
		width: 100%;
		height: 200px;
		border-bottom: 5px solid #000;
		margin: 100px 0px;
		.departmentTitle {
			font: bold 70px/1 'Arapey';
		}
		.departmentText {
			font: 40px/1 'Arapey';
		}
	}
	.logostory {
		overflow: hidden;
		.pic {
			width: 400px;
			height: 200px;
			background-image: url(../../src_assets/logo.png);
			background-size: contain;
		}
		.story {
			position: relative;
			bottom: 200px;
			left: 450px;
			.storyTitle {
				font: bold 30px/1 'Arapey';
				color: #000;
				text-shadow: 2px 2px 7px rgb(255, 255, 255);
				margin-bottom: 10px;
			}
			.storyText {
				font: bold 18px/1.2 'Arapey';
				color: #000;
				text-shadow: 2px 2px 7px rgb(255, 255, 255);
				margin-bottom: 40px;
			}
		}
	}
	.memberList {
		overflow: hidden;
		li {
			width: 25%;
			padding: 10px;
			margin: 0 auto;
			.inner {
				width: 100%;
				height: 600px;
				margin-top: 100px;
				.department_pic {
					width: 300px;
					height: 400px;
					transition: 1s;
					&:hover {
						transform: scale(1.2);
					}
					background: #000;
					box-shadow: 12px 12px 2px 1px #ddd;
					img {
						width: 100%;
						height: 100%;
						padding: 10px;
						border-radius: 10px;
						box-shadow: 12px 12px 2px 1px #ddd;
					}
				}
				h2 {
					margin-top: 5px;
					font: bold 50px/1 'Arapey';

					position: relative;
					left: -130%;
					top: -400px;
				}
				p {
					font: 30px/1.2 'Arapey';

					margin-bottom: 20px;
					position: relative;
					left: -130%;
					top: -390px;
				}
				#history {
					position: relative;
					right: -800px;
					top: -200px;
					.since {
						font: bold 50px/1 'Arapey';
						background: #000;
						color: #fff;
					}
					.history {
						font: 25px/1 'Arapey';
						color: #000;
						text-shadow: 2px 2px 7px rgb(255, 255, 255);
					}
				}
			}
		}
	}
}
