.Department {
	figure {

	}
	.logostory {
		.pic {
			width: 400px;
			height: 300px;
			background-image: url(../../../public/img/Logo.jpeg);
			position: relative;
			top: 90px;
		}
		.story {
			position: relative;
			bottom: 230px;
			left: 500px;
			.storyTitle {
				font: bold 28px/1 'Hind';
				color: #fff;
				margin-bottom: 10px;
				padding: 10px;
				background: #000;

			}
			.storyText{
				font: bold 20px/1.2 'Hind';
				margin-bottom: 40px;
			}
		}
	}
	.memberList {
		overflow: hidden;
		li {
			width: 25%;
			padding: 10px;
			margin: 0 auto;
			.inner {
				width: 100%;
				height: 600px;
				margin-top: 100px;
				.department_pic {
					width: 300px;
					height: 400px;
					transition: 1s;
					&:hover {
						transform: scale(1.2);
					}

					img {
						width: 100%;
						height: 100%;
						border-radius: 10px;
						box-shadow: 5px 5px 10px 5px rgba(112, 112, 112, 0.5);
					}
				}
				h2 {
					margin-top: 5px;
					font: bold 50px/1 'Hind';
					color: #000;
					position: relative;
					left: -130%;
					top: -400px;
				}
				p {
					font: 30px/1.2 'Hind';
					color: #000;
					margin-bottom: 20px;
					position: relative;
					left: -130%;
					top: -390px;
				}
				#history {
					position: relative;
					right: -800px;
					top: -200px;
					.since {
						font: bold 50px/1 'Hind';
						color: #fff;
						background: #000;
					}
					.history {
						font: 25px/1 'Hind';
					}
				}
			}
		}
	}
}
