.Gallery {
	overflow: hidden;
	background: rgb(117, 136, 128);
	color: rgb(254, 255, 226);
	text-shadow: 2px 2px 5px rgb(0, 88, 62);
	.galleryBanner {
		width: 100%;
		height: 200px;
		border-bottom: 5px solid rgb(254, 255, 226);
		margin: 100px 0px;
		.bannerTitle {
			font: bold 70px/1 'Arapey';
		}
		.bannerText {
			font: 40px/1 'Arapey';
		}
	}
	.carprice {
		width: 100%;
		height: 100%;
		
		.pricepic {
			width: 100%;
			height: 100%;
			position: relative;
			left: -31.5%;
			top: -100px;
			
			img {
				width: 100%;
				height: 100%;
				position: relative;
				top: 100px;
				left: 31.5%;
			}
			h1 {
				width: 100%;
				padding-left: 250px;
				padding-top: 20px;
				font: bold 90px/1 'Arapey';
				color: rgb(254, 255, 226);
				position: absolute;
				bottom: 75%;
				left: 12%;
			}
			.price {
				width: 100%;
				padding-left: 250px;
				font: 35px/1 'Arapey';

				position: absolute;
				bottom: 75%;
				left: 12%;
			}
			.carOption {
				width: 100%;
				padding-left: 250px;
				padding-top: 20px;
				font: 25px/1.4 'Arapey';

				position: absolute;
				bottom: 60%;
				left: 12%;

				span {
					margin-right: 20px;
				}
			}
		}
		h2 {
			width: 100%;
			font: bold 50px/1 'Arapey';

			text-align: center;
			position: relative;
			bottom: 250px;
			margin-bottom: 30px;
			margin-top: 350px;
		}
		.forLife {
			width: 100%;
			font: 25px/1 'Arapey';

			text-align: center;
			position: relative;
			bottom: 250px;
		}
		&::after {
			content: '';
			display: block;
			clear: both;
		}
		.carAdvantages {
			width: 100px;
			height: 100px;
			span {
				font: 50px/1 'Arapey';
			}
			.steat {
				width: 100px;
				height: 100px;
				text-align: center;
				padding: 20px;
				position: relative;
				bottom: 150px;
				left: 200px;
			}
			.camera {
				width: 100px;
				height: 100px;
				text-align: center;
				padding: 20px;
				position: relative;
				bottom: 250px;
				left: 400px;
			}
			.performance {
				width: 100px;
				height: 100px;
				text-align: center;
				padding: 20px;
				position: relative;
				bottom: 350px;
				left: 600px;
			}
			.zero {
				width: 100px;
				height: 100px;
				text-align: center;
				padding: 20px;
				position: relative;
				bottom: 450px;
				left: 900px;
			}
		}
	}
	.carpic {
		margin-bottom: 200px;
		.pic1 {
			width: 800px;
			height: 400px;
			background-image: url(../../src_assets/trunk1.png);
			background-size: cover;
			position: relative;
			right: 25%;
			h3 {
				padding: 10px;
				font: bold 40px/1 'Arapey';
				color: rgb(254, 255, 226);
				background: rgb(78, 119, 107);
				box-shadow: 12px 12px 2px 1px rgba(136, 180, 144, 0.726);
				position: relative;
				top: 50px;
				left: 100%;
			}
			p {
				padding: 30px;
				text-align: left;
				font: 24px/1 'Arapey';

				position: relative;
				top: 60px;
				left: 100%;
			}
		}
		.pic2 {
			width: 800px;
			height: 400px;
			background-image: url(../../src_assets/trunk2.png);
			background-size: cover;
			position: relative;
			left: 55%;
			transform: scaleX(-1);
			h3 {
				padding: 10px;
				text-align: right;
				font: bold 40px/1 'Arapey';
				color: rgb(254, 255, 226);
				background: rgb(78, 119, 107);
				box-shadow: 12px 12px 2px 1px rgba(136, 180, 144, 0.726);
				position: relative;
				top: 50px;
				left: 100%;
				transform: scaleX(-1);
			}
			p {
				padding: 30px;
				text-align: left;
				font: 24px/1 'Arapey';

				position: relative;
				top: 60px;
				left: 100%;
				transform: scaleX(-1);
			}
		}
		.pic3 {
			width: 800px;
			height: 400px;
			background-image: url(../../src_assets/trunk3.png);
			background-size: cover;
			position: relative;
			right: 25%;
			h3 {
				padding: 10px;
				font: bold 40px/1 'Arapey';
				color: rgb(254, 255, 226);
				background: rgb(78, 119, 107);
				box-shadow: 12px 12px 2px 1px rgba(136, 180, 144, 0.726);
				position: relative;
				top: 50px;
				left: 100%;
			}
			p {
				padding: 30px;
				text-align: left;
				font: 24px/1 'Arapey';

				position: relative;
				top: 60px;
				left: 100%;
			}
		}
	}
	.internal {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		text-align: center;
		.feature {
			display: block;
			width: 100%;
			font: bold 50px/1 'Arapey';
		}
		.featureText {
			display: block;
			width: 100%;
			font: 24px/1 'Arapey';

			margin-top: 30px;
			margin-bottom: 100px;
		}

		.seatPic {
			width: 300px;
			height: 300px;
			background: url(../../../public/img/gallery/seat.jpeg);
			background-size: cover;
			box-shadow: 12px 12px 2px 1px rgba(136, 180, 144, 0.726);
			margin-bottom: 200px;
			margin-right: 20px;
			.seatTitle {
				font: bold 20px/1 'Arapey';

				position: relative;
				top: 310px;
			}
			.seatText {
				font: 15px/1 'Arapey';

				position: relative;
				top: 310px;
			}
		}
		.internalPic {
			width: 400px;
			height: 300px;
			background: url(../../../public/img/gallery/internal1.jpeg);
			background-size: cover;
			box-shadow: 12px 12px 2px 1px rgba(136, 180, 144, 0.726);
			margin-bottom: 200px;
			margin-right: 20px;
			.internalTitle {
				font: bold 20px/1 'Arapey';

				position: relative;
				top: 310px;
			}
			.internalText {
				font: 15px/1 'Arapey';

				position: relative;
				top: 310px;
			}
		}
		.bonnetPic {
			width: 300px;
			height: 300px;
			background: url(../../../public/img/gallery/bonnet.jpeg);
			background-size: cover;
			box-shadow: 12px 12px 2px 1px rgba(136, 180, 144, 0.726);
			margin-bottom: 200px;
			.bonnetTitle {
				font: bold 20px/1 'Arapey';

				position: relative;
				top: 310px;
			}
			.bonnetText {
				font: 15px/1 'Arapey';

				position: relative;
				top: 310px;
			}
		}
		.backPic {
			width: 500px;
			height: 300px;
			background: url(../../../public/img/gallery/back.jpeg);
			background-size: cover;
			box-shadow: 12px 12px 2px 1px rgba(136, 180, 144, 0.726);
			margin-bottom: 200px;
			margin-right: 40px;
			.backTitle {
				font: bold 20px/1 'Arapey';

				position: relative;
				top: 310px;
			}
			.backText {
				font: 15px/1 'Arapey';
				color: rgb(254, 255, 226);
				text-shadow: 2px 2px 5px rgb(0, 88, 62);
				position: relative;
				top: 310px;
			}
		}
		.carPic {
			width: 500px;
			height: 300px;
			background: url(../../../public/img/gallery/car1.jpeg);
			background-size: cover;
			box-shadow: 12px 12px 2px 1px rgba(136, 180, 144, 0.726);
			margin-bottom: 200px;
			.carTitle {
				font: bold 20px/1 'Arapey';

				position: relative;
				top: 310px;
			}
			.carText {
				font: 15px/1 'Arapey';

				position: relative;
				top: 310px;
			}
		}
	}
	.design {
		.designTitle {
			display: block;
			width: 100%;
			text-align: center;
			font: bold 50px/1 'Arapey';
		}
		.designText {
			display: block;
			width: 100%;
			text-align: center;
			font: 24px/1 'Arapey';

			margin: 20px;
		}
	}

	ul {
		&::after {
			content: '';
			display: block;
			clear: both;
		}

		li {
			width: 33%;
			float: left;
			padding: 20px;

			.inner {
				width: 100%;
				transition: 1s;
				filter: grayscale(1);
				&:hover {
					transform: scale(1.1);
					filter: grayscale(0);
				}
				.pic {
					width: 100%;
					height: 250px;
					img {
						width: 100%;
						box-shadow: 12px 12px 2px 1px rgba(136, 180, 144, 0.726);
					}
				}
			}
		}
	}
}
