.Join {
	background: rgb(117, 136, 128);
	color: rgb(254, 255, 226);
	text-shadow: 2px 2px 5px rgb(0, 88, 62);
	figure {

	}
	.stepBox {
		.campaignTitle {
			font: bold 70px/1 'Arapey';
			color: rgb(254, 255, 226);
			margin-top: 50px;
			text-transform: uppercase;
		}
		.stepTitle {
			font: 25px/1.2 'Arapey';
			margin: 20px 0px;
		}
		.selectCar{
			font: 70px/1 'Arapey';
			margin: 50px 0px;
			text-decoration: underline;
		}
	}
	.carCategory {
		margin: 100px 0px;
		&::after {
			content: '';
			display: block;
			clear: both;
		}
		li {
			width: 250px;
			height: 120px;
			margin-left: 20px;
			margin-bottom: 20px;
			padding: 20px;
			float: left;
			background: #ccc;
			font: bold 20px/1 'Arapey';
			box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
			cursor: pointer;
			.categoryNameMINI {
				position: relative;
				top: 40px;
				font-size: 30px;
			}
			&:hover {
				&:nth-of-type(1) {
					background: rgb(24, 21, 160);
				}
				&:nth-of-type(2) {
					background: rgb(163, 14, 14);
				}
				&:nth-of-type(3) {
					background: rgb(12, 78, 37);
				}
				&:nth-of-type(4) {
					background: rgb(134, 114, 76);
				}
				&:nth-of-type(5) {
					background: rgb(206, 255, 71);
				}
				&:nth-of-type(6) {
					background: #ff41b6;
				}
				&:nth-of-type(7) {
					background: rgb(88, 230, 255);
				}
			}
			.categoryName {
				position: relative;
				top: 40px;
			}
		}
	}
	fieldset {
		border: none;
		legend {
			font: bold 70px/1 'Arapey';
			text-decoration: underline;
			margin-bottom: 40px;
		}
		tbody {
			width: 100%;
			border: none;

			tr {
				th {
					display: block;
					text-align: center;
					width: 100%;
					padding-top: 30px;
					font: bold 30px/1 'Arapey';
					text-align: left;
				}
				td {
					display: block;
					width: 100%;
					padding: 10px;

					input[type='text'] {
						width: 300px;
						height: 40px;
						border: none;
						border: 1px solid #ddd;
						margin-right: 10px;
						text-align: center;
						cursor: pointer;
					}
					input[type='tel'] {
						width: 300px;
						height: 40px;
						border: none;
						border: 1px solid #ddd;
						margin-right: 10px;
						text-align: center;
						cursor: pointer;
					}
					select {
						width: 300px;
						height: 40px;
						border: none;
						border: 1px solid #ddd;
						margin-right: 10px;
						text-align: center;
						cursor: pointer;
					}
				}
			}
			&::after{
				content: '';
				display: block;
				clear: both;
			}
			.btn {
				float: left;
				position: absolute;
				left: 30%;
				
				input[type='reset'] {
					width: 200px;
					height: 40px;
					border: none;
					border: 1px solid #ddd;
					margin-right: 30px;
					text-align: center;
					cursor: pointer;
					font: bold 20px/1 'Arapey';
				}
				input[type='submit'] {
					width: 200px;
					height: 40px;
					border: none;
					border: 1px solid #ddd;
					text-align: center;
					cursor: pointer;
					font: bold 20px/1 'Arapey';
				}
			}
		}
		.agree {
			width: 600px;
			padding: 30px;
			border: 1px solid #ddd;
			position: absolute;
			left: 50%;
			bottom: 100px;
			text-align: center;
			box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
			.fieldGroup {
				font: bold 50px/1 'Arapey';
				margin-bottom: 40px;
			}
			.fieldGroupDescription {
				width: 100%;
				font: 20px/1.5 'Arapey';
				margin-bottom: 40px;
			}
			.agreement {
				text-align: left;
				.th {
					margin-bottom: 20px;
					span {
						font: bold 19px/1 'Arapey';
					}
					input[type='checkbox'] {
						margin-right: 10px;
						cursor: pointer;
					}
				}
			}
		}
	}
}
