.Location {
	.locationBanner {
		width: 100%;
		height: 200px;
		border-bottom: 5px solid #000;
		margin-bottom: 100px;
		.bannerTitle {
			font: bold 70px/1 'Hind';
		}
		.bannerText {
			font: 40px/1 'Hind';
		}
	}
	.showRoom {
		width: 100%;
		margin-bottom: 100px;
		.showRoom1 {
			width: 100%;
			height: 400px;
			margin: 50px 0px;
			border-bottom: 2px solid #000;
			.showRoomPic1 {
				width: 50%;
				height: 350px;
				background: url(../../../public/img/location/showroom1.jpeg);
				background-size: cover;
				box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.5);
			}
			.showRoomText1 {
				position: relative;
				bottom: 85%;
				left: 52%;
				font: bold 30px/1 'Hind';
				span {
					display: block;
					width: 100%;
					margin-top: 20px;
					font: 20px/1.3 'Hind';
				}
			}
		}
		.showRoom2 {
			width: 100%;
			height: 400px;
			margin: 50px 0px;
			border-bottom: 2px solid #000;
			.showRoomPic2 {
				width: 50%;
				height: 350px;
				background: url(../../../public/img/location/showroom2.jpeg);
				background-size: cover;
				box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.5);
				position: relative;
				left: 50%;
			}
			.showRoomText2 {
				position: relative;
				bottom: 85%;
				right: 0%;
				font: bold 30px/1 'Hind';
				span {
					display: block;
					width: 100%;
					margin-top: 20px;
					font: 20px/1.3 'Hind';
				}
			}
		}
		.showRoom3 {
			width: 100%;
			height: 400px;
			margin: 50px 0px;
			border-bottom: 2px solid #000;
			.showRoomPic3 {
				width: 50%;
				height: 350px;
				background: url(../../../public/img/location/showroom3.jpeg);
				background-size: cover;
				box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.5);
			}
			.showRoomText3 {
				position: relative;
				bottom: 85%;
				left: 52%;
				font: bold 30px/1 'Hind';
				span {
					display: block;
					width: 100%;
					margin-top: 20px;
					font: 20px/1.3 'Hind';
				}
			}
		}
	}

	.centerTitle{
		text-align: center;
		font: bold 50px/1 'Hind';
		margin-bottom: 50px;
	}
	#map {
		width: 900px;
		height: 600px;
		background: #000;
		border: 2px solid #000;
	}
	button {
		margin-top: 0px;
		font-size: 18px;
		color: #000000;
		font-family: heebo;
		font-weight: 800;
		cursor: pointer;
		position: relative;
		border: none;
		background: none;
		text-transform: uppercase;
		transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
		transition-duration: 400ms;
		transition-property: color;
		&:focus,
		&:hover {
			color: rgb(0, 0, 0);
			&::after {
				width: 100%;
				left: 0%;
			}
		}

		&::after {
			content: '';
			pointer-events: none;
			bottom: -2px;
			left: 50%;
			position: absolute;
			width: 0%;
			height: 2px;
			background-color: rgb(0, 0, 0);
			transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
			transition-duration: 400ms;
			transition-property: width, left;
		}
	}

	.branch {
		width: 300px;
		position: relative;
		top: -600px;
		left: 80%;
		li {
			display: block;
			width: 100%;
			height: 60px;
			font: bold 20px/1 'Hind';
			float: left;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: 0.5s;
			&.on {
				&:nth-of-type(1) {
					color: #000;
					transform: scale(1.1);
					border-bottom: 1px solid #000;
				}
				&:nth-of-type(2) {
					color: #000;
					transform: scale(1.1);
					border-bottom: 1px solid #000;
				}
				&:nth-of-type(3) {
					color: #000;
					transform: scale(1.1);
					border-bottom: 1px solid #000;
				}
				&:nth-of-type(4) {
					color: #000;
					transform: scale(1.1);
					border-bottom: 1px solid #000;
				}
				&:nth-of-type(5) {
					color: #000;
					transform: scale(1.1);
					border-bottom: 1px solid #000;
				}
				&:nth-of-type(6) {
					color: #000;
					transform: scale(1.1);
					border-bottom: 1px solid #000;
				}
				&:nth-of-type(7) {
					color: #000;
					transform: scale(1.1);
					border-bottom: 1px solid #000;
				}
				&:nth-of-type(8) {
					color: #000;
					transform: scale(1.1);
					border-bottom: 1px solid #000;
				}
				&:nth-of-type(9) {
					color: #000;
					transform: scale(1.1);
					border-bottom: 1px solid #000;
				}
			}
		}
	}
}
