.Youtube {
	.youtubeBanner {
		width: 100%;
		height: 200px;
		border-bottom: 5px solid #000;
		margin-bottom: 100px;
		.bannerTitle {
			font: bold 70px/1 'Hind';
		}
		.bannerText {
			font: 40px/1 'Hind';
		}
	}
	.youtubeOption {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-bottom: 200px;
		.optionPic {
			width: 45%;
			height: 300px;
			background: url(../../../public/img/youtube/pic1.jpeg);
			box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.5);
		}
		.optionsBox {
			width: 50%;
			position: relative;
			left: 5%;

			.optionTitle {
				font: bold 40px/1 'Hind';
				position: relative;
			}
			.optionText {
				font: bold 25px/1.3 'Hind';
			}
		}
	}
	.options{
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		.option1{
			width: 100%;

			.option1Pic{
				width: 300px;
				height: 300px;
				background:url(../../../public/img/youtube/youtubepic0.png);
				background-size: cover;
				background-position-x: -100px;
				box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.5);
			}
			.option1Text{
				width: 300px;
				height: 300px;
				p{
					text-align: center;
					font: 20px/1 'Hind';
					margin-top : 30px
				}
			}
		}
		.option2{
			width: 100%;
			.option2Pic{
				width: 300px;
				height: 300px;
				background:url(../../../public/img/youtube/youtubepic1.png);
				background-size: cover;
				background-position-x: -140px;
				box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.5);
			}
			.option2Text{
				width: 300px;
				height: 300px;
				p{
					text-align: center;
					font: 20px/1 'Hind';
					margin-top : 30px
				}

			}
		}
		.option3{
			width: 100%;
			.option3Pic{
				width: 300px;
				height: 300px;
				background:url(../../../public/img/youtube/youtubepic2.png);
				background-size: cover;
				background-position-x: -270px;
				box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.5);
			}
			.option3Text{
				width: 300px;
				height: 300px;
				p{
					text-align: center;
					font: 20px/1 'Hind';
					margin-top : 30px
				}
			}
		}
		.option4{
			width: 100%;
			.option4Pic{
				width: 300px;
				height: 300px;
				background:url(../../../public/img/youtube/youtubepic3.png);
				background-size: cover;
				background-position-x: -150px;
				box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.5);
			}
		}
		.option4Text{
			width: 300px;
			height: 300px;
			p{
				text-align: center;
				font: 20px/1 'Hind';
				margin-top : 30px
			}
		}
	}
	.optionvideo{
		width: 100%;
		.videoTitle{
			display: block;
			text-align: center;
			font: bold 50px/1 'Hind';

		}
		.videoText{
			display: block;
			text-align: center;
			font: 20px/1 'Hind';
			margin: 20px;
		}
	}


	.inner {
		width: 1180px;
		height: 100%;
		&::after {
			content: '';
			display: block;
			clear: both;
		}
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		h1 {
			width: 100%;
		}
		article {
			margin-left: 20px;
			.pic {
				width: 300px;
				height: 220px;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
}
